@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=DM+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
font-family: 'DM Sans', sans-serif;
}
body {
    overflow: hidden;
    background-color: #FDE4CF;
    z-index: 1;
}

.navbar {
    height: 35px;
    display: flex;
    align-items: center;
    background-color:#000;
    background-color: #98F5E1;
    z-index: 1;
}
#i001,#i002,#i003,#i004  {
    background-color: #FBF8CC;
    height: 20px;
    width: 65px;
    border-radius: 20px;
    text-align: center;   
}  
.navbar ul {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #EEE0CB;
}
li {
    text-transform: capitalize;
    list-style-type: none;
    margin: 0px 25px;
    color: #000;   
}
.container{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateX(-30px);
}
button{
    font-family: 'Chivo Mono', monospace;
    margin: 0px 70px 40px 0px;
    height: 50px;
    width: 80px;
    color: #fcfffd;
    font-size: 15px;
    border-radius: 35px;
    background-color:#000;
    border: transparent;
    }
button:nth-child(2){
        height: 80px;
        border-radius: 50%;
    }
    button::selection{
  background-color: transparent;
 }
 .side{
    position: relative;
    top: 50px;
    left: ;
    z-index: 2;
    border: 3px rebeccapurple;
    height: 90px;
    width: 400px;
 }
 .side{
  background-color: yellow;
  height: 100px;
  width: 400px;
 }